






/*Animations*/
@keyframes colors {
  0% {background-color: #CFDBD5;}
  100%   {background-color: #E8EDDF;}
}

/*Header Menu*/
.header-title {
  font-family: 'Cinzel Decorative', cursive;
}

.toolbar {
  color: #242423;
  background-color: #F5CB5C;
}

a.q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable:hover {
  animation: colors .7s infinite;
  background: #E8EDDF;
}

/*Footer*/
.toolbar-footer {
  background-color: #E8EDDF;
}

q-toolbar.row.no-wrap.items-center.footer {
  align-items: center;
  justify-content: center;
}

.text-footer {
  color: #242423;
  font-size: 12px;

  a {
    text-decoration: underline;
    color: #242423;
  }
}




